body {
    font-family: "lekton";
    font-size: 24pt;
}

.content {
    margin: 100px;
}

input {
    font-family: inherit;
    font-size: inherit;
    border: none;
    height: 40px;
    width: 150px;
}

.userinput {
    font-size: 18pt;
    padding: 5px 0;

}
.userinput input {
    border: 1px dotted #eee;
}
